@import 'vars';
@import 'global';
@import 'fonts';


.header {
	&__top {
		background-color: #eef1f3;

		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100px;
		}
	}

	&__logo {
		margin-left: 8px;
	}

	&__box {
		display: flex;
		align-items: center;

		.seller {
			font-size: 14px;
			line-height: 28px;
			@include f500;
			color: #fff;
			background-color: $btn;
			padding: 6px 19px;
			border-radius: 25px;
		}
	}

	&__circle {
		span {
			font-size: 14px;
			width: 21px;
			height: 21px;
			border-radius: 50%;
			color: #fff;
			position: absolute;
			text-align: center;
			padding-top: 2px;
		}
	}

	.notification {
		position: relative;

		&__box {
			margin-left: 50px;
			// cursor: pointer;
		}

		span {
			background-color: #ff6a6c;
			top: -32px;
			left: -14px;
		}
	}

	.message {
		position: relative;

		&__box {
			margin-left: 33px;
			// cursor: pointer;
		}

		span {
			background-color: #62d03b;
			top: -32px;
			left: -11px;
		}
	}

	.basket {
		position: relative;

		&__box {
			margin-left: 33px;
			// cursor: pointer;
		}

		span {
			background-color: $btn;
			top: -32px;
			left: -9px;
		}
	}
}

.user {

	&__box {
		max-width: 175px;
		width: 100%;
		@include f500;
		display: flex;
		justify-content: space-between;
		margin-left: 45px;
		align-items: center;
	}

	&__info {
		margin-left: 20px;
	}

	&__name {
		font-size: 16px;
		line-height: 22px;
		@include f500;
		color: #333333;
	}

	&__money {
		font-size: 15px;
		line-height: 22px;
		color: $btn;
		line-height: 26px;
	}
}

.header__bottom {
	background-color: #fff;

	&-inner {
		display: flex;
		justify-content: space-between;
		height: 82px;
		align-items: center;
	}

	.menu {
		&__list {
			display: flex;

			li {
				display: inline-block;

				&+li {
					margin-left: 30px;
				}

				a {
					font-size: 15px;
					text-transform: uppercase;
					color: #333333;
				}
			}
		}
	}
}
.header__bottom .menu__list li a:hover{
	color: blue;
}
.lnr {
	cursor: pointer;
}

.lnr-alarm,
.lnr-cart,
.lnr-envelope {
	color: #7e8fa1;
	font-size: 20px;
}

.lnr-magnifier {
	font-size: 15px;
	color: #fff;
	right: 0;
	position: absolute;
	z-index: 1;
	right: 26px;
	top: 17px;
}

.search {
	form {
		position: relative;
	}

	input {
		padding: 15px 84px 15px 25px;
		border-radius: 30px;
		width: 360px;
		border: none;
		border: 1px solid #d9dfe5;
		outline: none;

	}

	button {
		background-color: $btn;
		height: 49px;
		width: 70px;
		border: none;
		border-radius: 25px;
		outline: none;
		position: absolute;
		right: 0;
		cursor: pointer;
	}

	&::placeholder {
		font-size: 15px;
		color: #898f96;
		line-height: 30px;
		@include f500;
	}
}






//footer

.footer {
	font-size: 15px;
	line-height: 27px;
	color: #ababab;

	a {
		color: #ababab;
	}

	&__content {
		background-color: $fbg;
		padding: 130px 0 94px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__col-title {
		color: #fff;
		font-size: 18px;
		@include f500;
		margin-bottom: 30px;
	}

	&__col-logo {
		margin-bottom: 20px;
		margin-top: -11px;
	}

	&__col-text {
		margin-bottom: 16px;
	}

	&__col-phone {
		margin-bottom: 8px;
	}

	&__col-email {
		margin-bottom: 8px;
	}

	&__form {
		position: relative;

		input {
			height: 50px;
			background-color: #fff;
			border: none;
			border-radius: 25px;
			padding: 17px 122px 17px 30px;
			max-width: 363px;
			width: 100%;
			outline: none;

			&::placeholder {
				font-size: 15px;
				color: #ababab;
			}
		}

		button {
			position: absolute;
			background-color: $btn;
			height: 50px;
			border-radius: 25px;
			width: 113px;
			border: none;
			outline: none;
			top: 0;
			right: 0;
			font-size: 15px;
			color: #fff;
		}
	}

}

.footer__col-newsletter .footer__col-text {
	margin-bottom: 28px;
}

.footer__col {
	&-contacts {
		width: 270px;
	}

	&-about {
		width: 150px;
	}

	&-support {
		width: 150px;
	}

	&-newsletter {
		width: 370px;
	}

	&-list li {
		margin-bottom: 4px;
	}

	.lnr {
		color: #fff;
	}
}

.footer__col-phone {
	.lnr.lnr-phone-handset {
		margin-top: 6px;
		margin-right: 16px;
	}
}

.footer__col-email {
	.lnr.lnr-envelope {
		margin-top: 2px;
		margin-right: 12px;
	}
}

.footer__col-adress {
	.lnr.lnr-map-marker {
		margin-top: 18px;
		margin-right: 17px;
		cursor: auto;
	}
}

.footer__copy {
	height: 90px;
	background-color: $cbg;
	text-align: center;
	display: flex;
	align-items: center;
	color: #999;
	letter-spacing: -0.5px;

	&-text &-link {
		color: #fff;
	}
}

.footer__col-phone,
.footer__col-email,
.footer__col-adress {
	position: relative;
	display: flex;
}



.footer__form {
	margin-bottom: 48px;
}

.footer {
	&__social-link {
		padding-bottom: 20px;

		li {
			display: inline-block;

			&+li {
				margin-left: 10px;
			}
		}

		a {
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-image: url(../images/css_sprites.png);
		}
	}
}

.link-facebook {
	background: url('css_sprites.png') -42px -0;
}

.link-twitter {
	background: url('css_sprites.png') -84px -42px;
}

.link-google {
	background: url('css_sprites.png') -0 -42px;
}

.link-pinterest {
	background: url('css_sprites.png') -84px -0;
}

.link-linkedin {
	background: url('css_sprites.png') -42px -42px;
}

//////////////////////////////////////////
//ниже сделал через icomoon---->

// .footer__social-link{
// 	li{
// 		display: inline-block;
// 		width: 42px;
// 		height: 42px;
// 		border-radius: 50%;
// 		background-color: yellow;
// 		& + li{
// 			margin-left: 10px;
// 		}
// 	}
// }

// .footer__social-link li {
// 	position: relative;
// 	display: inline-block;
// 	& + li {
// 		margin-left: 10px;
// 	}
// 	a {
// 		width: 42px;
// 		height: 42px;
// 		border-radius: 50%;
// 		&::before {
// 			position: absolute;
// 			font-family: 'icomoon';
// 			font-size: 16px;
// 			font-weight: 500;
// 			color: #fff;
// 		}
// 	}
// }
// .link-facebook {
// 	background-color: #395799;
// 	&::before {
// 		content: "\f09a";
// 		left: 15px;
// 		top: 7px;
// 	}
// }
// .link-twitter {
// 	background-color: #19b2f5;
// 	&::before {
// 		content: "\f099";
// 		left: 15px;
// 		top: 7px;
// 	}
// }
// .link-google {
// 	background-color: #f05b44;
// 	&::before {
// 		content: "\f1a0";
// 		left: 15px;
// 		top: 7px;
// 	}
// }
// .link-pinterest {
// 	background-color: #9c0c1c;
// 	&::before {
// 		content: "\f0d2";
// 		left: 15px;
// 		top: 7px;
// 	}
// }
// .link-linkedin {
// 	background-color: #0da6be;
// 	&::before {
// 		content: "\f0e1";
// 		left: 15px;
// 		top: 7px;
// 	}
// }
// .link-dribbble {
// 	background-color: #ea4c89;
// 	&::before {
// 		content: "\f17d";
// 		left: 15px;
// 		top: 7px;
// 	}
// }

//више сделал через icomoon---->

//ниже через вставку классов icomoon в HTML
// .footer__social-link{
// 	li{
// 		display: inline-block;
// 		& + li{
// 			margin-left: 10px;
// 		}
// 	}
// 	a{
// 		width: 42px;
// 		height: 42px;
// 		border-radius: 50%;
// 		position: relative;
// 		&::before{
// 			position: absolute;
// 			top: 13px;
// 			left: 15px;
// 			font-size: 16px;
// 		}
// 	}
// }
// .link-facebook{
// 	background-color: red;
// }
// .link-twitter{
// 	background-color: yellow;
// }
// .link-google{
// 	background-color: green;
// }
//више через вставку классов icomoon в HTML






//marketplace start
.marketplace {
	background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
	// opacity: 0.8;
	text-align: center;

	&__inner-title {
		font-size: 60px;
		color: #fff;
		line-height: 70px;
		margin-bottom: 30px;

		span {
			display: block;
			@include f700;
		}
	}

	&__inner-text {
		font-size: 20px;
		@include f500;
		color: #fff;
		margin-bottom: 60px;
	}

	&__inner-link {
		a {
			height: 56px;
			min-width: 190px;
			padding: 19px 30px 21px;
			border: 1px solid #fff;
			border-radius: 28px;
			color: #fff;
			text-align: center;

			&+a {
				margin-left: 25px;
			}

			&:hover {
				background-color: #fff;
				color: $btn;
				transition: all .3s;
			}
		}

	}

	&__inner-form {
		button {
			width: 224px;
			height: 55px;
			border: none;
			color: #fff;
			background-color: $btn;
			border-radius: 4px;
			outline: none;

			&:hover {
				background-color: #fff;
				color: $btn;
				transition: all .3s;
				border: 1px solid $btn;
			}
		}

		form {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.form-box {
				display: flex;
				width: 100%;
			}
		}

			// display: flex;
			// justify-content: space-between;
			position: absolute;
			bottom: -58px;
			width: 100%;
			height: 136px;
			padding: 40px;
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

			&::before {
				position: absolute;
				content: '';
				top: -14px;
				width: 1110px;
				height: 14px;
				left: 14px;
				background-color: rgba(255, 255, 255, 0.502);
				border-radius: 6px 6px 0 0;
			}

			&::after {
				position: absolute;
				content: '';
				width: 1080px;
				height: 26px;
				background-color: rgba(255, 255, 255, 0.502);
				border-radius: 6px 6px 0 0;
				left: 27px;
				top: -26px;
			}

			input {
				padding: 0 30px;
				max-width: 613px;
				width: 100%;
				height: 55px;
				border: 1px solid #dcdcdc;
				border-radius: 4px 0 0 4px;
				outline: none;

			}

			.jq-selectbox__select {
				width: 194px;
				height: 55px;
				border: 1px solid #dcdcdc;
				border-left: none;
				background-color: #fff;
				border-radius: 0 4px 4px 0;
				background: none;
				box-shadow: none;
				font: 14px/32px Arial, sans-serif;
				color: #333;
				// text-shadow: 0  0 #fff;
				// left: -6px;
				outline: none;
			}
	}
}

.jq-selectbox .jq-selectbox__dropdown {
	bottom: -115px !important;
	border: none;
	border: 1px solid #dcdcdc;
	box-shadow: none;

}

.jq-selectbox__select-text {
	padding-top: 7%;

}

.jq-selectbox__trigger {
	border-left: 0;

	&-arrow {
		top: 24px;
	}
}






.marketplace__inner {
	padding: 180px 0 230px;
	position: relative;

}

//marketplacefinish

//offers start
.offers {
	padding: 180px 0 120px;

	&__image {
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 24px;
		color: #000;
	}

	&__text {
		color: $text;
		line-height: 30px;
	}
}

.offers__inner {
	display: flex;
	justify-content: space-between;
}

.offers__item {
	padding: 40px 34px 50px;
	max-width: 360px;
	text-align: center;
}

.item-responsive {
	border-radius: 4px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}


//offers finish

//popular start
.popular {
	background-color: #eff1f5;
	padding: 120px 0 118px;

	&__top {
	// 	display: flex;
	// 	justify-content: space-between;
		padding: 32px 30px 32px;
	// 	background-color: #fff;
	// 	border-radius: 4px;
	// 	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	// 	margin-bottom: 50px;
	}

	// &__title {
	// 	font-size: 30px;
	// 	color: #000;
	// }

	&__arrows {
		width: 110px;
		height: 46px;
		border-radius: 23px;
		background-color: #7347c1;
	
	}

	&__item-img {
		width: 555px;
		height: 450px;
	
	}

	&__item {
		display: flex;
		
		&-description {
			padding: 50px 50px 20px 50px;
			background-color: #fff;
			
		}

		&-title {
			font-size: 24px;
			color: #000;
			margin-bottom: 15px;
		}

		&-text {
			line-height: 30px;
			margin-bottom: 40px;
		}

		&-link {
			padding-bottom: 40px;
			border-bottom: 1px solid #ececec;

			a {
				padding: 7px 18px;
				background-color: #f1f3f6;
				border-radius: 15px;

				& + a {
					margin-left: 4px;
				}
			}
			a:hover{
				background: $btn;
				color: #fff;
				transition: all .3s;
			}
		}
	}
}
.popular__items,.followers__inner{
	.slick-prev,
	.slick-next{
		color: #fff;
		font-size: 14px;
		border: none;
		background-color: transparent;
		position: absolute;
		outline: none;
	}
	.slick-prev{
		top: -112px;
		right: 96px;
	}
	.slick-next{
		top: -112px;
		right: 46px;
	}
}
.info {
	margin-bottom: 30px;
	font-size: 15px;
	align-items: center;

	img {
		position: absolute;
		left: 0;
	}

	&-autor {
		padding-left: 40px;
		display: inline-block;
		color: #000;
		position: relative;

		img {
			top: -5px;
		}
	}

	&-link {
		padding-left: 25px;
		margin-left: 25px;
		display: inline-block;
		color: #7347c1;
		position: relative;
	}
}

.notes {
	display: flex;
	justify-content: space-between;
	padding: 25px 0 0;
	&-cost {
		display: inline-block;
		padding: 8px 23px 8px 20px;
		background-color: $btn;
		border-radius: 18px;
		color: #fff;
		font-size: 15px;
	}

	&-like {
		display: inline-block;
		margin-left: 20px;
		padding-left: 25px;
		color: $text;
		position: relative;
		.lnr-heart{
			position: absolute;
			font-size: 15px;
			color: #7347c1;
			left: 0;
		}
	}

	&-basket {
		display: inline-block;
		margin-left: 20px;
		padding-left: 25px;
		color: $btn;
		position: relative;
		.lnr-cart{
			position: absolute;
			font-size: 15px;
			color: $btn;
			left: 0;
		}
	}
}

//popular end

//newproducts start
.newproducts,.news{
	padding: 120px 0;
	background-color: #f6f7fb;
	&__inner{
		margin-bottom: 58px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__info-box{
		padding: 30px 30px 15px 30px;
		background-color: #fff;
		border-bottom: 1px solid #ececec;
		
	}
	&__info-bottom{
		background-color: #fff;
		padding: 15px 30px;
		border-radius: 0 0 4px 4px ;
	}
	&__item-notes{
		align-items: center;
		.notes-cost{
			background-color: #e6f1fd;
			color: $btn;
		}
	}
	&__links{
		padding: 30px 30px;
		background-color: #fff;
		margin-bottom: 50px;
		li{
			display: inline-block;
			& + li{
				margin-left: 8px;
			}
			a{
				padding: 7px 18px;
				background-color: #f1f3f6;
				border-radius: 15px;
			}
			a:hover{
				background: $btn;
				color: #fff;
				transition: all .3s;
			}
		}
		
	}
	&__text{
		line-height: 30px;
		font-size: 16px;
		color: $text;
		margin-bottom: 37px;
	}
	&__item{
		border-radius: 4px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		width: 361px;
		margin-bottom: 30px;
		&-img{
			position: relative;
			height: 230px;
			.img-box {
				background-image: linear-gradient( 270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
				opacity: 0.902;
				position: absolute;
				bottom: 0;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 0;
				overflow: hidden;
				transition: all .5s;
				.more,.demo{
					height: 44px;
					min-width: 132px;
					padding: 0 30px;
					display: flex;
					align-items: center;
					border: 1px solid #fff;
					border-radius: 28px;
					color: #fff;
					background-color: transparent;
					font-size: 15px;
					&:hover {
						background-color: #fff;
						color: $btn;
						transition: all .3s;
					}
				}
				.demo{
					margin-left: 8px;
				}
			}	
		}
		&-img:hover .img-box {
				height: 100%;
				
		}
							
					

		
		&-title{
			font-size: 20px;
			@include f500;
			color: #000;
			margin-bottom: 22px;
		}
	}
}


.newproducts__filter{
	position: relative;
	color: #747b86;
	font-size: 16px;
	span{
		position: absolute;
		top: 1px;
	}
}

.ratst {
	display: inline-block;
}

.newproducts__all{
	text-align: center;
}

.newproducts__btn,
.feedback-link,
.error__main-link{
	height: 56px;
	min-width: 190px;
	padding: 19px 30px 21px;
	border: 1px solid #fff;
	border-radius: 28px;
	color: #fff;
	background-color: $btn;
	text-align: center;
	
	&:hover {
		background-color: #fff;
		color: $btn;
		transition: all .3s;
		border: 1px solid $btn;

	}
}


//newproducts end

//followers start
.followers{
	padding: 120px 0;
	background-color: #eff1f5;
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__arrows{
		background-color: $btn;
	}
	&__item{
		// display: flex;
		// justify-content: space-between;
		max-width: 361px;
		width: 100%;
	}
	&__top{
		padding: 30px 30px;
	}
}

//followers end

// customers start
.customers {
	padding: 92px 0;
	background-color: #212225;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 150px;
		text-align: center;
		
	}
}

.customers-img {
	font-size: 48px;
	line-height: 48px;
	color: #feb71d;
	&.blue{
		color: #58c9e9;
	}
	&.green{
	color: #77de51;		
	}
	&.red{
		color: #ff6a6d;
	}
}
.customers-number {
	font-size: 36px;
	color: #feb71d;
	margin-bottom: 12px;
	margin-top: 38px;
	&.blue{
		color: #58c9e9;
	}
	&.green{
	color: #77de51;		
	}
	&.red{
		color: #ff6a6d;
	}

}
.castomer-text {
	font-size: 18px;
	color: #fff;
}

// customers end
//service start
.service,.feedback,.news{
	padding: 118px 0;
	background: #fff;
	text-align: center;
	&__title{
		color: #000;
		font-size: 36px;
		margin-bottom: 25px;
		span{
			color:#0674ec;
		}
	}
	&__text{
		font-size: 16px;
		color: $text;
		max-width: 678px;
		margin: 0 auto;
		margin-bottom: 55px;
		line-height: 30px;
	} 
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item{
		position: relative;
		margin-bottom: 30px;
	}
	.item-num{
		font-size: 48px;
		font-weight: 400;
		color: rgba(92, 135, 248, .2);
		position: absolute;
		top: 18px;
		left: 20px;
	}
}
//service end

//shopping start
.shopping{
	max-width: 100%;
	&__inner{
		display: flex;
	}
	&__item{
		padding: 100px 0;
		width: 50%;
	 	text-align: center;
	}
	&__img{
		margin-bottom: 40px;
	}
	&__title{
		color: #fff;
		font-size: 36px;
		margin-bottom: 25px;
	}
	
}
.item{
	&-sell{
		background-color: $btn;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: content;
	}
	&-start{
		background-color: #7347c1;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: content;
	}
}
.shopping__text{
	
	line-height: 30px;
	color: #fff;
	margin-bottom: 45px;
	
}
.shopping__link,
.tojoin-btn,
.tutorial__link{
	width: 192px;
	padding: 20px 25px;
	background-color: #fff;
	border-radius: 30px;
	color: $btn;
	&:hover{
		background: $btn;
		color: #fff;
		transition: all .3s;
	}
	&.purple:hover{
		background-color: #7347c1;
	}
}


//shopping end
//feedback start
.feedback{
	&__inner{
		margin-bottom: 60px;
	}
	&__item{
		max-width: 554px;
		border-left: 2px solid $btn;
		padding: 50px 40px 0;
		width: 100%;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		margin-bottom: 0;
	}	
	&__text-item{
		text-align: left;
	}
}
.feedback__item + .feedback__item{
	margin-left: 30px;
}
.feedback__box{
	display: flex;
	justify-content: space-between;
}
.box{
	margin-bottom: 24px;
	&__avatar{
	width: 260px;
	display: flex;
	justify-content: start;
	}
	&__name{
		font-size: 20px;
		color: #000;
		display: inline-block;
		margin-bottom: 9px;
		
	}
	&__icon{
		font-size: 60px;
		color: #e8e8e8;
	}
	&-box{
		margin-left: 20px;
		padding: 15px 15px 15px 0;
	}
}


//news start
.news{
	background-color: #eff1f5;
	&__text{
		margin-bottom: 60px;
	}
	&__item-notes{
		padding: 0;
	}
	&__item-title{
		font-size: 22px;
		text-align: left;
	}
	.notes-feedback,
	.notes-look{
		display: inline-block;
		padding: 10px 0;
		padding-left: 4px;
		
	}
	.news__info-bottom{
		padding: 11px 30px;
	}
	&-text{
		margin-bottom: 10px;
		line-height: 30px;
		text-align: left;
	}
}
.news__info-bottom .notes{
	width: 100%;
	.notes-info{
		text-align: right;
		width: 50%;
		border-left: 1px solid #eff1f5;
	}
	&-date{
		position: relative;
		padding-left: 20px;
	}
	.lnr.lnr-clock{
		position: absolute;
		padding-left: 0;
	}
}
.notes-feedback{
	margin-right: 24px;
}
//news end

//support start
.support{

	&__inner{
		display: flex;
	}
	&__item{
		padding: 60px 0;
		text-align: center;
		width: 50%;
		& + .support__item{
			border-left: 1px solid #eff1f5;
		}
	}
	&__img{
		margin-bottom: 25px;
	}
	&__text{
		font-size: 25px;
		span{
			color: $btn;
		}
	}
}
//support end
//tojoin start
.tojoin{
	padding: 110px 0;
	background-image: linear-gradient( 270deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  // opacity: 0.902;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;


	&__inner{
		text-align: center;
	}
	&__title{
		font-size: 36px;
		color: #fff;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 18px;
		color: #fff;
		margin-bottom: 45px;

	}
}
//tojoin end

//error start
.error{
	&__top{
		padding: 56px 0;
		background-image: linear-gradient( 270deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
	}
	&__img{
		margin-bottom: 50px;
	}
	&__title{
		font-size: 30px;
		color: #fff;
		line-height: 30px;
	}
	&__main{
		padding: 80px 0 100px;
		background-color: #fff;
		&-inner{
			text-align: center;
			
		}
		&-title{
			font-size: 30px;
			line-height: 30px;
			color: #000;
			margin-bottom: 40px;
		}
		&-link{
			padding: 18px 44px;
		}
	}
}
.breadcrumbs__list li{
	& + li{
		position: relative;
		
		&::before{
			position: absolute;
			content: '/';
			color: #fff;
			left: 6px;
		}
	}
	a{
		color: #fff;
	}
	span{
		color: #bfcad7;
	}
}
//error fin
//conditions start
.conditions{
	background-color: #eff1f5;
	padding: 60px 0 120px;
	&__main{
		background-color: #fff;
		padding: 40px 0 30px 0;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}
	&__title{
		font-size: 24px;
		font-weight: 500;
		color: #000;
		margin-bottom: 28px;
		padding-right: 40px;
		padding-left: 30px;

	}
	&__text{
		padding-right: 40px;
		padding-left: 30px;
		padding-top: 24px;
		margin-bottom: 46px;
		border-top: 1px solid #eff1f5;
		line-height: 30px;
		color: $text;
	}
}
//conditions end 
//tutorial start
.tutorial-top{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 84px;
}
.tutorial-title{
	font-weight: 500;
	margin-bottom: 64px;

	span{
		font-weight: 300;
		margin-top: 22px;
		display: block;
	}
}
.tutorial{
	&__item{
		padding: 98px 0;
		display: flex;
		justify-content: space-between;
		&-2{
			background-color: #eff1f5;
		}
	}
	&__box{
		width: 460px;
	}
	&__title{
		font-size: 30px;
		margin-bottom: 40px;
	}
	&__text{
		line-height: 30px;
		margin-bottom: 30px;
	}
	.tutorial__link{
		// min-width: 174px;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
		// padding: 15px 35px;
		text-align: center;
	}
}

//tutorial end





@import 'media';